/* Basic page layout */

/* the whole page, including the borders (if any) */
.center90 {
    width:        90%;
    min-width:    300px;
    margin-left:  auto;
    margin-right: auto;
    overflow:     auto;
}

/* The strap across the top of the page, including the border */
#layout_top {
}

/* The left hand navigation pane, including the border */
#layout_left {
    width:        30%;
    float:        left;
}

/* The right hand navigation pane, including the border */
#layout_right {
    width:        70%;
    min-width:    50px;
    float:        right;
}
