/* Basic page layout */
#top {
    margin-left:  40px;
    margin-right: 40px;
}

#navbar {
    float:        left;
    margin:       0px 0px 0px 40px;
    width:        20%;
}

#main {
    float:        right;
    margin:       0px 40px 0px 0px;
    width:        60%;
}

