/* Background page style */
body {
    background-color: #FFFFA0;
	color:            black;
}

/* General text styles */
h1, h2 {
	font-family:      "Comic Sans MS", arial, helvetica, sans-serif;
	font-style:       italic;
	font-weight:      bold;
    padding:          0px;
    margin:           2px;
}

h1 {
    font-size:        20pt;
    text-align:       center;
}

h2 {
    font-size:        14pt;
}

p {
    padding:          0px;
    margin:           0px;
}

/* Text styles for specific portions of the page */
#top p {
    font-size:  8pt;
    text-align: center;
    color:      #666666;
}

/* Link handling */
a {
	font-family:      arial, helvetica, sans-serif;
    font-weight:      normal;
    font-style:       normal;
    text-align:       center;
    text-decoration:  none;
    display:          block;
    height:           100%;
    width:            100%;
    color:            black;
}

a:link,
a:visited {
}

a:hover,
a:active {
    color:            yellow;
    background-color: black;
}

/* Class definition for the borders */
.bordered {
    border:           3px black solid;
    padding:          20px;
    color:            black;
    background-color: yellow;
}

/* Class definition for "content" - by keeping it separate from the
 * border, we prevent content from "escaping" the box and
 * appearing over the top of the border.
 */
.content {
    overflow:         hidden;
}

/* Class definitions for the techlog table */
.techlog {
    font-family:      arial, helvetica, sans-serif;
    border-spacing:   0px;
    font-size:        10pt;
    width:            100%;
}

.techlog th {
    font-weight:      bold;
    font-size:        12pt;
    padding:          4px;
}

.techlog td {
    text-align:       center;
    padding-top:      2px;
    padding-bottom:   2px;
}

.techlog .odd {
    background-color: #FFFFA0;
}
