/* General text styles */
h1, h2 {
	font-family: "Comic Sans MS", arial, helvetica, sans-serif;
	font-style:  italic;
	font-weight: bold;
	color:       black;
}

h1 {
    font-size: 20pt;
    text-align: center;
}

h2 {
    font-size: 16pt;
}

#top p {
    font-size:  10pt;
    text-align: center;
    color:      #444444;
}
