/* CSS for a table with a frozen header */
div.techlog {
	width:            100%;
}

/* define width and style of table */
table.techlog_table {
	width:            100%;
	page-break-inside: auto;
}

table.techlog_table thead {
    display:           table-header-group;
}

/* Make sure the browser knows it is allowed to break this table */
table.techlog_table tbody {
    page-break-inside: auto;
    display:           table-row-group;
}

/* General table styling only from here on */
table.techlog_table {
    font-family:      arial, helvetica, sans-serif;
    font-size:        9pt;
	text-align:       center;
	border:           none;
    border-spacing:   0px;
    padding:          0px;
}

table.tachlog_table tr {
    page-break-inside: avoid;
}

table.techlog_table th {
    page-break-before: auto;
    font-weight:       bold;
    font-size:         11pt;
    padding:           2px;
}

table.techlog_table td {
    padding:           1px;
    page-break-before: avoid;
}

table.techlog_table tr.odd {
    background-color: #FFFFA0;
}

table.techlog_table tr.even {
	background:       yellow;
}
