/* CSS for a table with a frozen header */
div.techlog {
	height:           auto !important;    /* IE ignores this */
	height:           300px;              /* Acted on by IE, overridden in others */
	overflow:         auto;               /* Acted on by IE, not needed in others */
    overflow-x:       hidden;
	width:            100%;
}

/* define width and style of table */
table.techlog_table {
	width:            100%;
}

/* Set table header to a fixed position - needed to work around a bug in IE */
table.techlog_table thead th {
    position:         relative;
	background-color: yellow;
}

/* Should work for all browsers, but IE fails */
table.techlog_table tbody {
	height:           300px !important; /* Mistaken by IE as row-height,
                                           correctly sets body height in others */
	height:           auto;             /* Acted on by IE, overridden in others */
	overflow-y:       auto;
	overflow-x:       hidden;
}

/* General table styling only from here on */
table.techlog_table {
    font-family:      arial, helvetica, sans-serif;
    font-size:        11pt;
	text-align:       center;
	border:           none;
    border-spacing:   0px;
    padding:          2px;
}

table.techlog_table tr {
    height:           auto;
	padding:		  2px 2px;
}

table.techlog_table th {
    font-weight:      bold;
    font-size:        12pt;
    padding:          2px;
}

table.techlog_table th h2 {
}

table.techlog_table td {
    padding:          1px;
}

table.techlog_table tr.odd {
    background-color: #FFFFA0;
}

table.techlog_table tr.even {
	background:       yellow;
}

table.techlog_table tr.total {
    font-weight:      bold;
    font-size:        14pt;
}
